@{
    ViewData["Title"] = "Home Page";
}

<h1>WMS Application</h1>

<p>Warehouse Management System - Simplifying Inventory and Supply Chain</p>

<div class="row m-2">
    <div class="col-8">
    </div>
    <div class="col-4">
        <img src="~/images/warehouse.png" class="card-img-bottom">
    </div>
</div>
