@model WMSApplication.Models.Unit

@{
    int pageIndex = 1;

    if (TempData["currentPage"] != null)
    {
        pageIndex = (int)TempData["currentPage"];
        TempData["currentPage"] = pageIndex; // need to assign again , so it can be called in edit post method
    }
}


<h4>Unit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="editForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Code" />
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group btn-group">
                <input type="button" id="btnSubmit" value="Save Changes" class="btn btn-primary" />
                <a class="btn btn-dark" asp-action="Index" asp-route-pageIndex="@TempData["currentPage"]"> Back</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            let message = "@TempData["failed"]";
            if (message) {
                openFailedModal(message)
            }
        });

        //$("body").on("submit", "#createForm", function () {
        //    return confirm("Do you want to save data?");
        //});

        $('#btnSubmit').click(function () {
            // Modal is defined in _Layout.cshtml
            let ctrlDiv = document.getElementById('myConfirmModalAlertBody');
            ctrlDiv.innerHTML = 'Do you want to modify data?';
            $("#confirmModal").modal('show');
        });

        $("#modal-btn-yes").on("click", function () {
            // Modal is defined in _Layout.cshtml
            $("#confirmModal").modal('hide');
            $('#editForm').submit();
        });

        $("#modal-btn-no").on("click", function () {
            // Modal is defined in _Layout.cshtml
            $("#confirmModal").modal('hide');
            return false;
        });

        function openFailedModal(message) {
            let ctrlDiv = document.getElementById('myFailedModalAlertBody');
            ctrlDiv.innerHTML = message;
            $('#myFailedModal').modal('show');
        }
    </script>
}
