@model WMSApplication.Models.Product

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" />

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" id="createForm" enctype="multipart/form-data" onsubmit="return ValidateForm()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="Code" class="control-label"></label>
                    <input asp-for="Code" class="form-control" readonly />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="WholeUnit" class="control-label"></label>
                    <input asp-for="WholeUnit" class="form-control" readonly />
                    <span asp-validation-for="WholeUnit" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="Weight" class="control-label"></label>
                    <input asp-for="Weight" class="form-control" />
                    <span asp-validation-for="Weight" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="CategoryCode" class="control-label"></label>
                    <select asp-for="CategoryCode" class="form-control" asp-items="ViewBag.ProductCategories"></select>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="UnitCode" class="control-label"></label>
                    <select asp-for="UnitCode" class="form-control" asp-items="ViewBag.Units"></select>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="LooseQty" class="control-label"></label>
                    <input asp-for="LooseQty" class="form-control" />
                    <span asp-validation-for="LooseQty" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="WholeQty" class="control-label"></label>
                    <input asp-for="WholeQty" class="form-control" />
                    <span asp-validation-for="WholeQty" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="AllocationType" class="control-label"></label>
                    <select asp-for="AllocationType" class="form-control" asp-items="ViewBag.AllocationType"></select>
                    <span asp-validation-for="AllocationType" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="LoosePrice" class="control-label"></label>
                    <input asp-for="LoosePrice" class="form-control" />
                    <span asp-validation-for="LoosePrice" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="WholePrice" class="control-label"></label>
                    <input asp-for="WholePrice" class="form-control" />
                    <span asp-validation-for="WholePrice" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Remark" class="control-label"></label>
                    <textarea asp-for="Remark" class="form-control" rows="2"></textarea>
                    <span asp-validation-for="Remark" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-4 pt-0 mt-0">
                    <div class="custom-file">
                        <input type="hidden" id="PicturePath" asp-for="PicturePath" value="" />
                        <input asp-for="UploadedPicture" class="custom-file-input" id="UploadedPicture" />
                        <label class="custom-file-label" for="UploadedPicture" id="UploadedPictureCaption">Choose Picture</label>
                        <span asp-validation-for="UploadedPicture" class="text-danger" id="UploadedPictureValidation"></span>
                    </div>
                </div>
            </div>

            <div class="col-4 row">
                <div class="form-group col-12 justify-content-center align-middle mb-0 pb-0">
                    <img id="previewPicture" src="~/images/no-image-icon.jpg" alt="Logo-Image" width="200" height="200" style="border:1px;margin-top:10px; margin-bottom:20px" />
                </div>
            </div>

            <div class="form-group btn-group">
                <input type="button" id="btnSubmit" value="Save Changes" class="btn btn-primary" />
                <a class="btn btn-dark" asp-action="Index" asp-route-pageIndex="@TempData["currentPage"]"> Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            let message = "@TempData["failed"]";
            if (message) {
                openFailedModal(message)
            }
        });

        
        $('.custom-file-input').on('change', function () {
            debugger;
            // get file name
            let filename = $(this).val().split('\\').pop();

            // get file size
            let pictSize = $(this)[0].files[0].size;

            // get file extension
            let pictExt = filename.split('.').pop();

            // image validation
            IsPictureValid(pictSize, pictExt);

            // if pass the validation, set hidden value
            document.getElementById('PicturePath').value = filename;

            // in order to set filename into label picture
            $(this).siblings('.custom-file-label').addClass('selected').html(filename);

            // in order to set image in preview
            document.getElementById('previewPicture').src = window.URL.createObjectURL(this.files[0]);

            
        })


        $('#btnSubmit').click(function () {
            // Modal is defined in _Layout.cshtml
            let ctrlDiv = document.getElementById('myConfirmModalAlertBody');
            ctrlDiv.innerHTML = 'Do you want to save data?';
            $("#confirmModal").modal('show');
        });

        $("#modal-btn-yes").on("click", function () {
            // Modal is defined in _Layout.cshtml
            $("#confirmModal").modal('hide');
            $('#createForm').submit();
        });

        $("#modal-btn-no").on("click", function () {
            // Modal is defined in _Layout.cshtml
            $("#confirmModal").modal('hide');
            return false;
        });

        function openFailedModal(message) {
            let ctrlDiv = document.getElementById('myFailedModalAlertBody');
            ctrlDiv.innerHTML = message;
            $('#myFailedModal').modal('show');
        }

        function IsPictureValid(pictSize, pictExt) {
            let error = '';
            error = IsPictureSizeValid(pictSize);
            error = IsPictureExtensionValid(pictExt);

            if (error != '') {
                document.getElementById('UploadedPictureValidation').innerHTML = error;
                return;
            } else {
                document.getElementById('UploadedPictureValidation').innerHTML = '';
            }
        }

        function IsPictureSizeValid(pictSize) {
            let pictSizeInKb = Math.round(pictSize / 1024);
            if (pictSizeInKb > 100) {
                return "File size over 100 Kb is not allowed";
            }

            return '';
        }

        function IsPictureExtensionValid(pictExt) {
            if (pictExt != 'jpg' && pictExt != 'png') {
                return 'File should be jpg or png in extension';
            }

            return '';
        }

        function ValidateForm() {
            if (document.getElementById('PicturePath').value == '') {
                document.getElementById('UploadedPictureValidation').innerHTML = 'Picture unable to be empty';

                return false;
            }

            return true;
        }
    </script>
}

